input {
  border-radius: 10px;
  border: 1px solid black;
}
.temp {
  display: inline-block;
  border-radius: 10px;
  width: 80px;
  margin: 40px;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
  margin-left: 45px;
  transition: 0.3s ease;
  padding: 10px;
  box-shadow: 0 0 50px rgba(0,0,0,0.5)
}
.temp:hover {
  background-color: #2f4a80;
  transform: scale(1.05);
}
.kkk {
  border-radius: 10px;
  border: 3px solid #39ff14;
  width: 70px;
  height:70px;
}
.espaco {
  display: flex;
  flex-direction: column;
  text-align:center;
  justify-content: center;
  width: 400px;
  height: 450px;
  align-items: center;
  padding: 30px;
  border-radius: 10px;
  border: 3px solid black;
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
  margin: 80px auto;
  transition: 0.3s ease;
}
.espaco h1 {
  color: #96b2f1;
  font-family: "Fredoka", sans-serif;
}
.espaco h2 {
  color: #96b2f1;
  font-family: "Fredoka", sans-serif;
}
.espaco:hover {
  transform: scale(1.05);
}
form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}
input {
  border-radius: 10px;
  border: 1px solid black;
  padding: 5px;
  font-size: 18px;
  transition: 0.3s ease;
  border-radius: 10px;
}
input:hover {
  background-color: white;
  transform: scale(1.05);
}
button {
  color: #96b2f1;
  background-color: white;
  transition: 0.3s ease;
  font-family: "Fredoka", sans-serif;
  font-size: 16px;
  border: 2px solid black;
  border-radius: 10px;
  width: fit-content;
  align-self: center;
  padding: 3px 10px;
}
button:hover {
  background-color: #2f4a80;
  transform: scale(1.05);
}